:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Light-gray);
    /* font-family:  */
}

main {
    min-height: calc(100vh - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    width: 305px;
    /* height: 380px; */
    padding: 15px;
    box-sizing: content-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.img {

    width: 305px;
}

.img>img {
    border-radius: 15px;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 10px 24px 10px;
}

.content h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    color: var(--Dark-blue);
    text-align: center;
    margin-top: 9px;
    text-align: center;
}

.content p {
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--Grayish-blue);
    text-align: center;
    padding: 16px 16px 0 16px;
}